In [2]:
pip install pymongo

Collecting pymongo
  Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (22 kB)
Collecting dnspython<3.0.0,>=1.16.0 (from pymongo)
  Downloading dnspython-2.7.0-py3-none-any.whl.metadata (5.8 kB)
Downloading pymongo-4.10.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.4/1.4 MB 10.5 MB/s eta 0:00:00
Downloading dnspython-2.7.0-py3-none-any.whl (313 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 313.6/313.6 kB 20.0 MB/s eta 0:00:00
Installing collected packages: dnspython, pymongo
Successfully installed dnspython-2.7.0 pymongo-4.10.1

In [30]:
from pymongo import MongoClient

# Inisialisasi client dan koneksi ke database
client = MongoClient('mongodb+srv://wahyudwi8742:WahyuDwi27@cluster0.oqjjj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')
db = client['company_db']
collection = db['employees']

# Contoh untuk memastikan koneksi
print('Connected to MongoDB')

Connected to MongoDB

In [33]:
# Contoh Insert Data
employee_data = {
    'name': 'Alice',
    'department': 'Finance',
    'age': 29,
    'salary': 4500
}
collection.insert_one(employee_data)
print('Data inserted')

# Tugas: Insert beberapa data tambahan, lakukan update, serta delete data
# Insert beberapa data
data_tambahan = [
    {'name': 'Szoboszlai', 'department': 'IT', 'age': 29, 'salary': 6000},
    {'name': 'Mac Allister', 'department': 'HR', 'age': 23, 'salary': 4000},
    {'name': 'Luiz Diaz', 'department': 'Marketing', 'age': 27, 'salary': 5000},
    {'name': 'Chiesa', 'department': 'Marketing', 'age': 21, 'salary': 3500}

]
collection.insert_many(data_tambahan)
print('Data banyak berhasil ditambahkan')

# 2. Update Data
# Update satu data berdasarkan nama
collection.update_one(
    {'name': 'Alice'},
    {'$set': {'salary': 4800}}
)
print("Data Alice berhasil di-update")

# Update banyak data berdasarkan department
collection.update_many(
    {'department': 'IT'},
    {'$set': {'salary': 5200}}
)
print("Data department IT berhasil di-update")

# 3. Delete Data
# Menghapus satu data berdasarkan nama
collection.delete_one({'name': 'Chiesa'})
print("Data Chiesa berhasil dihapus")

Data inserted
Data banyak berhasil ditambahkan
Data Alice berhasil di-update
Data department IT berhasil di-update
Data Chiesa berhasil dihapus

In [34]:
# Contoh Query Data
for employee in collection.find():
    print(employee)

{'_id': ObjectId('672577d80bbeff0a51c0a56a'), 'name': 'Alice', 'department': 'Finance', 'age': 29, 'salary': 4800}
{'_id': ObjectId('672577d80bbeff0a51c0a56b'), 'name': 'Szoboszlai', 'department': 'IT', 'age': 29, 'salary': 5200}
{'_id': ObjectId('672577d80bbeff0a51c0a56c'), 'name': 'Mac Allister', 'department': 'HR', 'age': 23, 'salary': 4000}
{'_id': ObjectId('672577d80bbeff0a51c0a56d'), 'name': 'Luiz Diaz', 'department': 'Marketing', 'age': 27, 'salary': 5000}

In [35]:
# Query Aggregation untuk mencari rata-rata gaji per departemen
pipeline = [
    {'$group': {'_id': '$department', 'average_salary': {'$avg': '$salary'}}}
]
for result in collection.aggregate(pipeline):
    print(result)

{'_id': 'HR', 'average_salary': 4000.0}
{'_id': 'IT', 'average_salary': 5200.0}
{'_id': 'Marketing', 'average_salary': 5000.0}
{'_id': 'Finance', 'average_salary': 4800.0}

In [40]:
# Membuat koleksi baru bernama 'products'
products_collection = db.products
print("Koleksi 'products' berhasil dibuat.")

# Langkah 2: Siapkan data produk baru (Anda bisa menyesuaikan datanya di sini)
product_data = [
    {'name': 'Gel Pembersih Muka', 'category': 'Perawatan Kulit', 'price': 25000, 'stock': 50},
    {'name': 'Krim Sunblock', 'category': 'Perawatan Kulit', 'price': 45000, 'stock': 30},
    {'name': 'Deodoran', 'category': 'Perawatan Pribadi', 'price': 22000, 'stock': 100},
    {'name': 'Minyak Lavender', 'category': 'Aromaterapi', 'price': 30000, 'stock': 75},
    {'name': 'Kapas Muka', 'category': 'Perawatan Pribadi', 'price': 5000, 'stock': 150},
    {'name': 'Handuk Kecil', 'category': 'Perlengkapan Rumah', 'price': 20000, 'stock': 120},
    {'name': 'Pel Induk', 'category': 'Kebutuhan Rumah Tangga', 'price': 35000, 'stock': 40},
    {'name': 'Sisir Rambut', 'category': 'Perawatan Rambut', 'price': 10000, 'stock': 80},
    {'name': 'Krim Tidur', 'category': 'Perawatan Kulit', 'price': 28000, 'stock': 20},
    {'name': 'Sabun Cuci', 'category': 'Kebutuhan Rumah Tangga', 'price': 15000, 'stock': 90}
]

# Tambahkan data produk baru ke koleksi 'products'
products_collection.insert_many(product_data)
print("Data produk berhasil ditambahkan ke koleksi 'products'.")

Koleksi 'products' berhasil dibuat.
Data produk berhasil ditambahkan ke koleksi 'products'.

In [41]:
# Langkah 1: Menghitung rata-rata harga produk
average_price = products_collection.aggregate([
    {'$group': {'_id': None, 'average_price': {'$avg': '$price'}}}
])
average_price_result = list(average_price)

if average_price_result:
    # Mendapatkan rata-rata harga
    average_price_value = average_price_result[0]['average_price']
    print(f"Rata-rata harga produk: {average_price_value:.2f}")

    # Langkah 2: Query untuk menemukan produk dengan harga di atas rata-rata
    above_average_products = list(products_collection.find({'price': {'$gt': average_price_value}}))

    # Menampilkan produk dengan harga di atas rata-rata
    print("Produk dengan harga di atas rata-rata:")
    for product in above_average_products:
        print(f"Name: {product['name']}, Price: {product['price']}, Category: {product['category']}, Stock: {product['stock']}")
else:
    print("Tidak ada produk tersedia.")

Rata-rata harga produk: 23500.00
Produk dengan harga di atas rata-rata:
Name: Gel Pembersih Muka, Price: 25000, Category: Perawatan Kulit, Stock: 50
Name: Krim Sunblock, Price: 45000, Category: Perawatan Kulit, Stock: 30
Name: Minyak Lavender, Price: 30000, Category: Aromaterapi, Stock: 75
Name: Pel Induk, Price: 35000, Category: Kebutuhan Rumah Tangga, Stock: 40
Name: Krim Tidur, Price: 28000, Category: Perawatan Kulit, Stock: 20

In [42]:
# Aggregation Pipeline untuk menghitung total produk dalam setiap kategori
pipeline = [
    {'$group': {'_id': '$category', 'total_products': {'$sum': 1}}}
]

# Menjalankan pipeline
category_totals = list(products_collection.aggregate(pipeline))

# Menampilkan hasil
print("Total produk dalam setiap kategori:")
for category in category_totals:
    print(f"Kategori: {category['_id']}, Total Produk: {category['total_products']}")

Total produk dalam setiap kategori:
Kategori: Perawatan Kulit, Total Produk: 3
Kategori: Perlengkapan Rumah, Total Produk: 1
Kategori: Kebutuhan Rumah Tangga, Total Produk: 2
Kategori: Perawatan Rambut, Total Produk: 1
Kategori: Perawatan Pribadi, Total Produk: 2
Kategori: Aromaterapi, Total Produk: 1

In [20]:
from pymongo import MongoClient

# Koneksi ke MongoDB
client = MongoClient('mongodb+srv://wahyudwi8742:WahyuDwi27@cluster0.oqjjj.mongodb.net/myFirstDatabase?retryWrites=true&w=majority')

db = client['tugasdb']
tugas_collection = db['karyawan']

# Menambahkan data karyawan dengan nama dan departemen yang berbeda
data_karyawan = [
    {'nama': 'Aurelia', 'usia': 25, 'departemen': 'HR', 'gaji': 5000},
    {'nama': 'Shevia', 'usia': 26, 'departemen': 'IT', 'gaji': 3000},
    {'nama': 'Bobby', 'usia': 23, 'departemen': 'Finance', 'gaji': 3500},
    {'nama': 'Raihan', 'usia': 20, 'departemen': 'Marketing', 'gaji': 4000},
    {'nama': 'Diogo', 'usia': 27, 'departemen': 'Sales', 'gaji': 3200},
    {'nama': 'Sasha', 'usia': 21, 'departemen': 'Support', 'gaji': 2500},
    {'nama': 'Rafael', 'usia': 23, 'departemen': 'Development', 'gaji': 2800},
    {'nama': 'Sena', 'usia': 19, 'departemen': 'HR', 'gaji': 3000},
    {'nama': 'Akmal', 'usia': 29, 'departemen': 'IT', 'gaji': 3200},
]

# Insert data ke koleksi karyawan
tugas_collection.insert_many(data_karyawan)
print("Data karyawan berhasil ditambahkan.")

Data karyawan berhasil ditambahkan.

In [21]:
# Menghapus karyawan yang berusia di bawah 25 tahun
result = tugas_collection.delete_many({'usia': {'$lt': 25}})

# Menampilkan jumlah karyawan yang dihapus
print(f"\nJumlah karyawan yang dihapus: {result.deleted_count}")

# Menampilkan data karyawan setelah penghapusan
data_karyawan_setelah = list(tugas_collection.find())
print("\nData Karyawan Setelah Penghapusan:")
for karyawan in data_karyawan_setelah:
    print(karyawan)

Jumlah karyawan yang dihapus: 5

Data Karyawan Setelah Penghapusan:
{'_id': ObjectId('672575ba0bbeff0a51c0a55a'), 'nama': 'Aurelia', 'usia': 25, 'departemen': 'HR', 'gaji': 5000}
{'_id': ObjectId('672575ba0bbeff0a51c0a55b'), 'nama': 'Shevia', 'usia': 26, 'departemen': 'IT', 'gaji': 3000}
{'_id': ObjectId('672575ba0bbeff0a51c0a55e'), 'nama': 'Diogo', 'usia': 27, 'departemen': 'Sales', 'gaji': 3200}
{'_id': ObjectId('672575ba0bbeff0a51c0a562'), 'nama': 'Akmal', 'usia': 29, 'departemen': 'IT', 'gaji': 3200}

In [22]:
# Pipeline untuk menghitung total gaji dan rata-rata umur
pipeline = [
    {
        '$group': {
            '_id': '$departemen',
            'total_gaji': {'$sum': '$gaji'},
            'rata_rata_umur': {'$avg': '$usia'}
        }
    }
]

# Menjalankan aggregation dan menampilkan hasil
department_summary = list(tugas_collection.aggregate(pipeline))

print("Laporan Ringkas per Departemen:")
for department in department_summary:
    print(f"Departemen: {department['_id']}")
    print(f"  Total Gaji: {department['total_gaji']}")
    print(f"  Rata-rata Umur: {department['rata_rata_umur']}")

Laporan Ringkas per Departemen:
Departemen: HR
  Total Gaji: 5000
  Rata-rata Umur: 25.0
Departemen: IT
  Total Gaji: 6200
  Rata-rata Umur: 27.5
Departemen: Sales
  Total Gaji: 3200
  Rata-rata Umur: 27.0